<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Alex: Virtual Healthcare Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Modal box -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Welcome!</h3>
            <p>You are about to begin your conversation with ALEX. You will talk to ALEX using a chatbox. ALEX will respond to you in the chatbox, and speak to you. When you're ready to begin, click "Let's start!"</p>
            <button class="start" onclick="closeModal()">Let's start!</button> <!-- Button to close the modal -->
        </div>
    </div>
    <div class="conversation-container">
        <div class="alex-container">
            <video id="myVideo">
                <source src="{{ url_for('static', filename='generic.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <h3>Alex</h3>
            <h4>Virtual Healthcare Assistant</h4>
        </div>
        <div class="chat-container">
            <div class="chat-box" id="chat-box"></div>
            <div class="input-area">
                <input type="text" id="user-input" class="user-input" placeholder="Type a message...">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>